@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot');
    src: url('../fonts/icomoon.eot') format('embedded-opentype'), url('../fonts/icomoon.ttf') format('truetype'), url('../fonts/icomoon.woff') format('woff'), url('../fonts/icomoon.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

body {
    /* height: 2048px; */
    margin: 0;
}

.index {
    position: relative;
    max-width: 640px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background: #0d5aa5;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    width: 100%;
    height: 3.6rem;
    line-height: 3.6rem;
    text-align: center;
}

.header .city {
    height: 2.8rem;
    /* max-width: 16rem; */
    margin: 0 0 0 0.3rem;
    color: #fff;
    font-size: 1rem;
    line-height: 2.8rem;
}

.city::before {
    font-family: 'icomoon';
    content: '';
}


/* 搜索城市板块开始 */

.search {
    /* display: none; */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 30;
    overflow-y: scroll;
    background: #f1f0f6;
}

.search .head {
    height: 4rem;
    margin: 1rem;
}

.search .return {
    float: left;
    width: 2.5rem;
    height: 4rem;
    background: url(../images/return.png) center center no-repeat;
    background-size: 1.1rem 2rem;
}

.search .s {
    float: right;
    width: 2.5rem;
    height: 4rem;
    background: url(../images/return.png) center center no-repeat;
    background-size: 1.1rem 2rem;
}

.search .box {
    position: relative;
    height: 4rem;
    margin: 0 0 0 46px;
}

.search .box em {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 0;
}

.search .box input {
    width: 100%;
    height: 4rem;
    padding: 0;
    color: #555;
    font-size: 1.2rem;
    text-indent: 1rem;
    outline: 0;
    background: #fff;
    border: 1px solid #e5e4e7;
    border-radius: 0.5rem;
    -webkit-appearance: none;
}

.search .box span {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 2.6rem;
    background: url(../images/close.png) left center no-repeat;
    background-size: 1.6rem 1.6rem;
}

.search dl {
    margin: 0 10px;
}

.search dl dt {
    height: 3.1rem;
    color: rgba(85, 85, 85, .5);
    font-size: 1.2rem;
}

.search dl dd {
    padding: 0 0 2.8rem;
}

.search dl ul {
    font-size: 0;
}

.search dl li {
    float: left;
    width: 30%;
    height: 3.2rem;
    margin: 1rem 0 0 3.5%;
    border: 1px solid #e5e5e7;
    border-radius: 6px;
    background: #fff;
    text-align: center;
}

.search dl li.active {
    border-color: #0ca2eb;
}

.search dl li:nth-child(3n+1) {
    margin: 1rem 0 0 .5%;
}

.search dl a {
    padding: 0 10px;
    color: #555;
    line-height: 3.2rem;
    font-size: 1.2rem;
    text-align: center;
    /* overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; */
}

.search dl dt span {
    float: right;
}

.search .city_list,
.search dl {
    margin: 0 10px;
}

.search .city_list li {
    height: 3.4rem;
    list-style: none;
    border-bottom: 1px solid #dcdbe1;
}

.search .city_list li a {
    display: block;
    text-decoration: none;
    color: #555;
    font-size: 1.2rem;
    line-height: 3.4rem;
}

.search dl dd::after,
.search dl dd::before,
.search dl ul::after,
.search dl ul::before,
.search dl::after,
.search dl::before {
    content: " ";
    display: table;
    /* 作为块级元素来表示，表格前后会有换行符 */
}

.search dl dd::after,
.search dl ul::after,
.search dl::after {
    clear: both;
    overflow: hidden;
}


/* 搜索板块结束 */

.nav_box {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 20;
}


/* .nav {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 80%;
    background: #f2f4f8;
} */

.info_box {
    position: relative;
    min-height: 28rem;
    background: -webkit-linear-gradient(top, #0c7ec4, #5f92c9);
}

.info_box::before {
    position: absolute;
    top: 0;
    right: -1px;
    bottom: -1px;
    left: -1px;
    z-index: 0;
    background: url(../images/building_night.png) center bottom no-repeat;
    background-size: 100% auto;
    content: '';
}

.info {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}


/* .info div a:first-child {
    /* display: inline-block; 
    float: left;
    margin-left: 20px;
    background-color: #336699;
    width: 138px;
    text-align: center;
    font-size: 14px;
    border-radius: 18px;
    color: #ffffff;
    height: 100%;
    text-decoration: none;
    vertical-align: middle;
    display: flex;
    justify-content: center;
} */


/* .info div a:last-child {
    float: right;
    margin-right: 20px;
    background-color: #336699;
    width: 138px;
    text-align: center;
    font-size: 14px;
    border-radius: 18px;
    color: #ffffff;
    display: inline-block; 
    height: 100%;
    text-decoration: none;
    vertical-align: middle;
    display: flex;
    justify-content: center;
} */


/* .info div img {
    width: 26px;
    margin-right: 8px;
    height: 26px;
    margin-top: 6px;
} */

.info_wea {
    padding: 13.3rem 0 0 10px;
    color: #fff;
    font-size: 1.6rem;
}

.info_about {
    position: relative;
    z-index: 1;
    margin: 0 140px 0 0;
    padding: 0 0 0 10px;
    color: #fff;
}

.info_about em {
    position: relative;
    height: 9rem;
    font-size: 9rem;
    font-family: Arial;
    font-style: normal;
    line-height: 9rem;
}

.info_about p {
    font-size: 1.2rem;
    line-height: 1.6rem;
}

.info_about em::after {
    position: absolute;
    top: 1.3rem;
    right: -1rem;
    width: 1.2rem;
    height: 1.2rem;
    font-size: 3rem;
    line-height: 1;
    content: '°';
}

.info_a {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.info_a li {
    float: right;
    clear: both;
    height: 2.1rem;
    margin: 1rem 0 0;
    border-radius: 2.1rem;
    background: rgba(0, 0, 0, .1);
    line-height: 2.1rem;
}

.info_a li span {
    float: left;
}

.info_warn {
    width: 2.2rem;
    height: 2.2rem;
    line-height: 2.2rem;
    text-align: center;
    border-radius: 1.1rem;
}

.info_warn img {
    width: 1.4rem;
    display: inline-block;
    vertical-align: middle;
}

.info_a li strong {
    float: left;
    height: 2.1rem;
    padding: 0 17px 0 4px;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 2.2rem;
}

.days {
    height: 5.6rem;
    border-top: 1px solid rgba(255, 255, 255, .8);
    overflow: hidden;
}

.days .single {
    float: left;
    width: 50%;
    height: 5.6rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
    font-size: 1.2rem;
}

.days .single:first-child {
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.days .single div:first-child {
    height: 1.6rem;
    padding: 0.7rem 10px 0;
    line-height: 1.6rem;
}

.days .single div:last-child {
    height: 2rem;
    padding: 0.6rem 10px 0;
    line-height: 2rem;
}

.days .single em {
    float: left;
    font-style: normal;
}

.days .single span {
    float: left;
    width: 3rem;
    height: 1.6rem;
    margin: 0 0 0 10px;
    text-align: center;
    border-radius: 0.7rem;
}

.warn_1 {
    background-color: #8fc31f;
}

.days .single strong {
    float: left;
    font-weight: 400;
}

.days .single img {
    float: right;
    height: 2.2rem;
}

.days .single b {
    float: right;
    font-weight: 400;
}

.wind_temp {
    position: relative;
    height: 2.4rem;
    background: rgba(255, 255, 255, .1);
    overflow: hidden;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.wind_temp .tabs {
    height: 2.4rem;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.wind_temp .tabs span,
.wind_temp .tabs strong {
    float: left;
    line-height: 2.4rem;
    font-size: 1.2rem;
    color: #fff;
    text-align: center;
}

.wind_temp .tabs strong {
    margin: 0 10px;
    font-weight: 400;
}

.wind_temp .tabs .active {
    border-bottom: 1px solid #fff;
}

.wind_temp .tabs span {
    display: none;
    position: relative;
    width: 4rem;
    height: 2.4rem;
}

.wind_temp .tabs span {
    display: none;
    position: relative;
    width: 4rem;
    height: 2.4rem;
}

.wind_temp .tabs .btn {
    float: right;
    height: 1.5rem;
    margin: 0.5rem 10px 0 0;
    padding: 0 2rem 0 0;
    color: #fff;
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-style: normal;
    background: url(../images/wind_temp_chart.png) right top no-repeat;
    background-size: 1.5rem auto;
}

.wind_temp .charts.active {
    top: 2.4rem;
}

.wind_temp .charts {
    position: absolute;
    height: 110px;
    margin: 0 10px;
    right: 0;
    left: 0;
    bottom: -110px;
    overflow: hidden;
}

.wind_temp .charts canvas {
    position: absolute;
    width: 1000px;
    height: 110px;
}

.wind_temp .charts span {
    position: absolute;
    left: 0;
    bottom: 2.4rem;
    margin: 0 0 0 5px;
    width: 29px;
    height: 17px;
    color: #fff;
    font-size: 12px;
    text-align: center;
    line-height: 16px;
    background: url(../images/vernier.png) center center no-repeat;
    background-size: 29px 17px;
}

.weak_wea {
    margin: 1.4rem 10px 0;
    position: relative;
    overflow: hidden;
}

.weak_wea .week_line {
    position: absolute;
    top: 6.8rem;
    left: 0;
    width: 100%;
    height: 123px;
}

.weak_wea li {
    float: left;
    width: 16.66%;
    text-align: center;
}

.weak_wea em {
    display: block;
    height: 1.4rem;
    color: #fff;
    font-size: 1.2rem;
    font-style: normal;
    line-height: 1.4rem;
}

.weak_wea .wea {
    padding: 0 0 4px;
}

.weak_wea .wea dd {
    margin: 0 auto;
    width: 3.7rem;
    height: 3.3rem;
    line-height: 3.3rem;
}

.weak_wea .wea dd strong {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.2rem;
}

.weak_wea .wea dt {
    height: 2.3rem;
    line-height: 2.3rem;
}

.weak_wea .wea dt img {
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.weak_wea li div {
    height: 123px;
}

.exponent {
    width: 100%;
    margin: 0 auto;
    border: 1px solid rgba(255, 255, 255, .2);
    border-width: 1px 0;
    overflow: hidden;
    max-width: 640px;
}

.exponent ul {
    font-size: 0;
    margin: 0 -2px -2px 0;
}

.exponent li {
    width: 33%;
    height: 10rem;
    float: left;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, .2);
    border-width: 0 1px 1px 0;
}

.exponent li span {
    height: 3rem;
    line-height: 3rem;
    margin: 3rem 0 0;
}

.exponent li em,
.exponent li span {
    display: inline-block;
    width: 100%;
}

.exponent li em {
    height: 3rem;
    color: #fff;
    font-size: 1.2rem;
    font-style: normal;
    line-height: 1.5rem;
}

.footer {
    margin: 1.6rem 0 0;
    height: 4.4rem;
    color: rgba(255, 255, 255, .5);
    font-size: 1.2rem;
    line-height: 4.4rem;
    background: rgba(255, 255, 255, .2);
    text-align: center;
}